{% extends 'general_template.html' %}

{% block index %}
<div class="row align-items-center justify-content-center">
  <div class="card border-info shadow-lg" style="max-width: 35rem;">
    <div class="card-body">
      <div class="container m-4">
        <h1 class="card-title">Witamy w zwierzęcych aniołach</h1>
      </div>
      <div class="container text-center">
        <p>Jeśli jesteś już zarejestrowany, zaloguj się <a href="{% url 'users:login' %}">tutaj</a></p>
        <p>Jeśli nie, zarejestruj się <a href="{% url 'users:signup' %}">tutaj</a></p>
      </div>
    </div>
  </div>
</div>  
{% endblock %}