{% extends "general_users_template.html" %}

{% block logout %}
<div class="row align-items-center justify-content-center">
    <div class="card border-info shadow-lg" style="max-width: 35rem;">
        <div class="card-body">
            <div class="container m-2,2,2">
                <h5 class="card-title"><strong>Na pewno chcesz się wylogować?</strong></h5>
                <hr>
            </div>            
            <div class="container mt-6">
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <div class="container text-center mt-6">
                        <button class="btn btn-info" type="submit">Wyloguj</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
</div> 
{% endblock %}