{% extends "general_users_template.html" %}

{% block lostList %}
<div class="container fluid p-4">
    <div class="row justify-content-center">
        <div class="col">
            <div class="container text-center">
                <h1>Znalezione zwierzęta</h1>
                <h4>Zwierzęta, które ktoś znalazł i szuka prawdziwego właściciela zwierzaka.</h4>
            </div>
            <div class="row justify-content-center mt-4 mb-4">
                {% for event in eventsToTemplate %} 
                    {% if event.lost == False %}
                        <div class="card border-info shadow-lg" style="width: 45rem;">
                            <a href="{% url 'crud:specificEvent' event.id %}"><img src="{{ event.pic.url }}" class="card-img-top mt-2" alt="Pet's image"></a>
                            <div class="card-body">
                                <h5 class="card-title">{{ event.title }}</h5>
                            </div>
                            <ul class="list-group list-group-flush">
                                <!-- precisa colocar a marca de FOUND na foto se possivel -->
                                <li class="list-group-item"><strong>Opis: </strong> {{ event.event }}</li>
                                <li class="list-group-item"><strong>Sąsiedztwo: </strong> {{ event.neighborhood }}</li>
                                <li class="list-group-item"><strong>Kolor oczu: </strong> {{ event.eyesColor }}</li> 
                                <li class="list-group-item"><strong>Kolor futra: </strong> {{ event.furColor }}</li> 
                                <li class="list-group-item"><strong>Typ zwierzaka: </strong> {{ event.type }}</li>
                                <li class="list-group-item"><strong>Płeć: </strong> {{ event.gender }}</li> 
                                <li class="list-group-item"><strong>Wiek: </strong> {{ event.age }}</li> 
                                <li class="list-group-item"><strong>Autor: </strong> {{ event.author }}</li>
                                <li class="list-group-item"><strong>Data: </strong> {{ event.date }}</li>
                            </ul>
                            <!-- found edition permition  -->
                            {% if event.author == username %}
                                <div class="card-body">
                                    <a href="{% url 'crud:updateEvent' event.id %}" class="card-link"><button class="btn btn-warning" type="button">Edytuj</button></a>                                
                                    <a href="{% url 'crud:deleteEvent' event.id %}" class="link-danger"><button class="btn btn-danger" type="button">Usuń</button></a>
                                </div>
                            {% endif %} 
                        </div> 
                        <br>                       
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock%}