.path{
    color:aqua;
}


.f-info{
    position:absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color:white;
}