body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* navbar */
.path{
    color:orange;
}

/* content */
.row.align-items-center.justify-content-center{
    margin-top: 15%;
    margin-bottom: 15%;
}


/* footer */
.bi.bi-linkedin{
    font-size: 1.5rem;
}

.bi.bi-github{
    font-size: 1.5rem;
    color:black;
}